<section class="uv-join bg-2">
    <div class="container">
        <div class="section-separator">
            <div class="uv-join-inner image-bg" style="background-image: url(assets/images/join-bg.jpg);">
                <div class="join-content wow fadeIn" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                    <span>Cliquez pour postuler maintenant pour plus de détails</span>
                    <h3>L'admission d'été est en cours</h3>
                    <div class="join-btn">
                        <a routerLink="/inscription" class="btn btn-base">Inscription</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>