<section class="uv-feature-2">
    <div class="container">
        <div class="row section-separator">
            <div class="col-sm-4 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="uv-featured-post-title" data-wow-delay="0.2s">
                    <h4>Meilleure certification</h4>

                </div>
                <div class="featured-post-inner uv-hover-style">
                    <img src="assets/images/e1.jpg" alt="" class="img-responsive">
                    <div class="uv-post-inner-content">
                        <h6>Amener les jeunes à s'amuser &amp; étudier</h6>
                        <p>En les faisant accéder à des valeurs morales et sociales, telles que le respect de règles,
                            le respect de soi-même et d’autrui, elle éduque les stagiaires à la responsabilité et à
                            l’autonomie.</p>
                        <a href="#" class="btn btn-base">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="uv-featured-post-title">
                    <h4>La vie étudiante</h4>

                </div>
                <div class="featured-post-inner uv-hover-style">
                    <img src="assets/images/e2.jpg" alt="" class="img-responsive">
                    <div class="uv-post-inner-content">
                        <h6>La vie, c'est comme monter une bicyclette</h6>
                        <p>Cette activité permet aux stagiaires d’apprendre à mieux se connaître et à mieux connaître
                            les autres par des prises de risques contrôlées.</p>
                        <a href="#" class="btn btn-base">Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.6s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="uv-featured-post-title">
                    <h4>Agenda professionnel</h4>
                    <p>Cette formation, présente l'essentiel de la modélisation statistique.</p>
                </div>
                <div class="featured-post-inner">
                    <div class="uv-post-inner-content">
                        <ul>
                            <li>
                                <a href="#">
                                    <h5>Gestion de projet</h5>
                                </a>
                                <span><i class="far fa-calendar-alt"></i> January 20, 2020</span>
                            </li>
                            <li>
                                <a href="#">
                                    <h5>Statistiques</h5>
                                </a>
                                <span><i class="far fa-calendar-alt"></i> January 21, 2020</span>
                            </li>
                            <li>
                                <a href="#">
                                    <h5>Finance</h5>
                                </a>
                                <span><i class="far fa-calendar-alt"></i> January 22, 2020</span>
                            </li>
                            <li>
                                <a href="#">
                                    <h5>Fiscalité</h5>
                                </a>
                                <span><i class="far fa-calendar-alt"></i> January 23, 2020</span>
                            </li>
                            <li>
                                <a href="#">
                                    <h5>Comptabilité</h5>
                                </a>
                                <span><i class="far fa-calendar-alt"></i> January 24, 2020</span>
                            </li>
                        </ul>
                        <a class="btn btn-base" href="#"> Voir plus </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>