<section class="uv-course image-bg" style="background-image: url(assets/images/course-bg.jpg);">
    <div class="overlay active">
        <div class="container">
            <div class="row section-separator">
                <div class="section-title col-xs-12">
                    <h2>Nos formations</h2>
                    <span>La meilleure qualité d'éducation</span>
                </div>
                <div class="each-courses col-xs-12" id="uv-carousel">

                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="owl-item cloned" style="width: 380px; margin-right: 0px;">
                                <div class="item">
                                    <div class="course-inner">
                                        <div class="course-banner">
                                            <img src="assets/images/c3.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="course-content">
                                            <h4>Programmation </h4>
                                            <p>Devenir programmeur informatique vous offre de multiples opportunités
                                                professionnelles car
                                                les débouchés de ce métier sont nombreux dans la fonction publique et
                                                privée.</p>
                                            <a href="#" class="btn btn-base">inscription</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="owl-item cloned" style="width: 380px; margin-right: 0px;">
                                <div class="item">
                                    <div class="course-inner">
                                        <div class="course-banner">
                                            <img src="assets/images/c2.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="course-content">
                                            <h4>Comptabilité &amp; gestion</h4>
                                            <p>En jouant un rôle central dans toutes les entreprises,le secteur de la
                                                comptabilité gestion offre
                                                de nombreux débouchés professionnels en faisant ainsi un secteur très
                                                porteur.</p>
                                            <a href="#" class="btn btn-base">inscription</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="owl-item cloned" style="width: 380px; margin-right: 0px;">
                                <div class="item">
                                    <div class="course-inner">
                                        <div class="course-banner">
                                            <img src="assets/images/c1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="course-content">
                                            <h4>Systèmes et Réseaux</h4>
                                            <p>On propose une formation, pratique que vous montrera comment mettre en
                                                oeuvre
                                                les principaux moyens de sécurisation des systèmes et des réseaux.</p>
                                            <a href="#" class="btn btn-base">inscription</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="owl-item" style="width: 380px; margin-right: 0px;">
                                <div class="item">
                                    <div class="course-inner">
                                        <div class="course-banner">
                                            <img src="assets/images/c3.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="course-content">
                                            <h4>Programmation </h4>
                                            <p>Devenir programmeur informatique vous offre de multiples opportunités
                                                professionnelles car
                                                les débouchés de ce métier sont nombreux dans la fonction publique et
                                                privée.</p>
                                            <a href="#" class="btn btn-base">inscription</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="owl-item active" style="width: 380px; margin-right: 0px;">
                                <div class="item">
                                    <div class="course-inner">
                                        <div class="course-banner">
                                            <img src="assets/images/c2.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="course-content">
                                            <h4>Comptabilité &amp; gestion</h4>
                                            <p>En jouant un rôle central dans toutes les entreprises,le secteur de la
                                                comptabilité gestion offre
                                                de nombreux débouchés professionnels en faisant ainsi un secteur très
                                                porteur.</p>
                                            <a href="#" class="btn btn-base">inscription</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="owl-item active" style="width: 380px; margin-right: 0px;">
                                <div class="item">
                                    <div class="course-inner">
                                        <div class="course-banner">
                                            <img src="assets/images/c1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="course-content">
                                            <h4>Systèmes et Réseaux</h4>
                                            <p>On propose une formation, pratique que vous montrera comment mettre en
                                                oeuvre
                                                les principaux moyens de sécurisation des systèmes et des réseaux.</p>
                                            <a href="#" class="btn btn-base">inscription</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="owl-item cloned active" style="width: 380px; margin-right: 0px;">
                                <div class="item">
                                    <div class="course-inner">
                                        <div class="course-banner">
                                            <img src="assets/images/c3.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="course-content">
                                            <h4>Programmation </h4>
                                            <p>Devenir programmeur informatique vous offre de multiples opportunités
                                                professionnelles car
                                                les débouchés de ce métier sont nombreux dans la fonction publique et
                                                privée.</p>
                                            <a href="#" class="btn btn-base">inscription</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="owl-item cloned" style="width: 380px; margin-right: 0px;">
                                <div class="item">
                                    <div class="course-inner">
                                        <div class="course-banner">
                                            <img src="assets/images/c2.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="course-content">
                                            <h4>Comptabilité &amp; gestion</h4>
                                            <p>En jouant un rôle central dans toutes les entreprises,le secteur de la
                                                comptabilité gestion offre
                                                de nombreux débouchés professionnels en faisant ainsi un secteur très
                                                porteur.</p>
                                            <a href="#" class="btn btn-base">inscription</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="owl-item cloned" style="width: 380px; margin-right: 0px;">
                                <div class="item">
                                    <div class="course-inner">
                                        <div class="course-banner">
                                            <img src="assets/images/c1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="course-content">
                                            <h4>Systèmes et Réseaux</h4>
                                            <p>On propose une formation, pratique que vous montrera comment mettre en
                                                oeuvre
                                                les principaux moyens de sécurisation des systèmes et des réseaux.</p>
                                            <a href="#" class="btn btn-base">inscription</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>

                </div>
            </div>
        </div>
    </div>
</section>