<footer class="uv-footer footer-bg section-separator navbar-dark blue-grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="footer-item">
                    <h6> Nous Contacter </h6>
                    <address>{{ contactInfo?.address }}</address>
                    <ul>
                        <li><a><i class="fas fa-phone-alt"></i> {{ contactInfo?.phone1 }}</a></li>
                        <li><a><i class="fas fa-phone-alt"></i> {{ contactInfo?.phone2 }}</a></li>
                        <li><a><i class="far fa-envelope"></i> {{ contactInfo?.email }}</a></li>
                    </ul>
                    <ul class="social">
                        <li><a href="{{ contactInfo?.FacebookURL }}"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="{{ contactInfo?.TwitterURL }}"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="{{ contactInfo?.InstagramURL }}"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="{{ contactInfo?.LinkedinURL }}"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="footer-item uv-program">
                    <h6>Nos Formations</h6>
                    <ul>
                        <li><a href="#">Commerce International</a></li>
                        <li><a href="#">Comptabilité et Finance</a></li>
                        <li><a href="#">Multimédia et Marketing</a></li>
                        <li><a href="#">Informatique de Gestion</a></li>
                        <li><a href="#">Infrastrucures et Réseaux d'accèss</a></li>
                        <li><a href="#">Automatisme et Infomatique Industrielle</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="footer-item">
                    <h6>Langues</h6>
                    <ul>
                        <li><a href="#">Français</a></li>
                        <li><a href="#">Anglais</a></li>
                        <li><a href="#">Allemand</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                <div class="footer-item">
                    <h6>Newsletter</h6>
                    <p>Entrez votre email et nous vous envoyons plus d'informations sur les cours .</p>
                    <form class="uv-form footer-form">
                        <div class="form-group relative">
                            <div class="relative">
                                <input type="text" class="form-control" placeholder="Email Address" required>
                            </div>
                        </div>
                        <div class="footer-subs-btn">
                            <button type="submit" class="btn btn-base" value="subscribe">Abonnez-vous</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr class="f-hr">
        <div class="row">
            <div class="uv-copyright center wow fadeInUp" data-wow-delay="0.5s">
                <p> © Copyright SmartAGL SARL 2020. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>