<section class="uv-event">
    <div class="container">
        <div class="row section-separator">
            <div class="section-title col-xs-12 wow fadeIn" data-wow-delay="0.2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <h2>Événements</h2>
                <span>Prochains événements éducatifs pour nourrir votre cerveau</span>
                <hr class="uv-hr">
                <a href="#" class="btn btn-base view-full-event"> Voir plus</a>
            </div>
            <div class="uv-each-events col-xs-12">
                <ul>
                    <!-- Event list-->
                    <li class="wow fadeInUp" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="col-sm-3">
                            <div class="uv-event-date">
                                <h3>15</h3>
                                <span>April</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="uv-event-content">
                                <a href="#">
                                    <h4>Inauguration du nouveau local</h4>
                                </a>
                                <div class="schedule">
                                    <span class="uv-event-time"><i class="far fa-clock"></i> 10:00 am - 11:00am</span>
                                    <span class="uv-event-place"><i class="fas fa-map-marker-alt"></i>
                                        Bizerte</span>
                                </div>
                                <p>Le nouveau local d'INFOplus a été officiellement inauguré le 17 octobre 2019 à 10 h00
                                    en présence de Madame l'ambassadrice de la Grande-Bretagne et de Madame la
                                    secrétaire d'État
                                    de ministère de la formation professionnelle, et de Monsieur le gouverneur de
                                    Bizerte</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img src="assets/images/ev1.jpg" alt="" class="img-responsive">
                        </div>
                    </li>
                    <!-- Event list-->
                    <li class="wow fadeInUp" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="col-sm-3">
                            <div class="uv-event-date">
                                <h3>10</h3>
                                <span>March</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="uv-event-content">
                                <a href="#">
                                    <h4>Cérémonie de remise des certificats aux lauréats</h4>
                                </a>
                                <div class="schedule">
                                    <span class="uv-event-time"><i class="far fa-clock"></i> 02:00 pm -
                                        05:00pm</span>
                                    <span class="uv-event-place"><i class="fas fa-map-marker-alt"></i>
                                        Bizerte</span>
                                </div>
                                <p>Marquant la fin de formation et les premiers pas dans le monde professionnel,
                                    la cérémonie de remise de diplômes est un événement majeur, pour le centre «
                                    Infoplus ».</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img src="assets/images/ev2.jpg" alt="" class="img-responsive">
                        </div>
                    </li>
                    <!-- Event list-->
                    <li class="wow fadeInUp" data-wow-delay="0.6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="col-sm-3">
                            <div class="uv-event-date">
                                <h3>23</h3>
                                <span>April</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="uv-event-content">
                                <a href="#">
                                    <h4>Championnat universitaire de football</h4>
                                </a>
                                <div class="schedule">
                                    <span class="uv-event-time"><i class="far fa-clock"></i> 12:00 am -
                                        01:00pm</span>
                                    <span class="uv-event-place"><i class="fas fa-map-marker-alt"></i> Tunis</span>
                                </div>
                                <p>Tout en répondant au besoin et au plaisir des stagiaires,
                                    les activités sportives permet de développer le sens de l’effort et de la
                                    persévérance</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img src="assets/images/ev3.jpg" alt="" class="img-responsive">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>