article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

* {
	box-sizing: border-box;
}

.bg-2 {
	background-color: rgb(244, 244, 244);
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.btn-group-vertical>.btn-group::after,
.btn-group-vertical>.btn-group::before,
.btn-toolbar::after,
.btn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.form-horizontal .form-group::after,
.form-horizontal .form-group::before,
.modal-footer::after,
.modal-footer::before,
.modal-header::after,
.modal-header::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group::after,
.btn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.form-horizontal .form-group::after,
.modal-footer::after,
.modal-header::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
	clear: both;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.section-separator {
	padding: 70px 0px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.fadeInRight {
	animation-name: fadeInRight;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.h2,
h2 {
	font-size: 30px;
}

h2 {
	font-family: "Varela Round", sans-serif;
	font-size: 55px;
	line-height: 60px;
}

.uv-feature .uv-join-tagline h2 {
	font-family: Montserrat, sans-serif;
	font-size: 40px;
	line-height: 52px;
	font-weight: 300;
	margin-bottom: 30px;
}

b,
strong {
	font-weight: 700;
}

.uv-feature .uv-join-tagline h2 b {
	font-weight: bold;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0px;
}

a {
	color: rgb(51, 122, 183);
	text-decoration: none;
}

a:focus,
a:hover {
	color: rgb(35, 82, 124);
	text-decoration: underline;
}

a:focus {
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px;
}

.btn.focus,
.btn:focus,
.btn:hover {
	color: rgb(51, 51, 51);
	text-decoration: none;
}

.btn.active,
.btn:active {
	background-image: none;
	outline: 0px;
	box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset;
}

a {
	cursor: pointer;
	font-family: "Varela Round", sans-serif;
	padding: 0px;
	background-color: transparent;
	transition: all 0.4s ease-out 0s;
	-webkit-font-smoothing: antialiased;
	color: rgb(51, 51, 51);
	opacity: 0.9;
	text-decoration: none !important;
}

a:hover {
	background-color: transparent;
}

a:focus {
	background-color: transparent;
	outline: 0px !important;
}

.btn {
	transition: all 0.4s ease-out 0s;
	-webkit-font-smoothing: antialiased;
}

.btn:last-child {
	margin-right: 0px !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline-offset: -2px;
	outline: -webkit-focus-ring-color auto 0px !important;
}

.btn {
	color: rgb(0, 0, 0);
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	text-decoration: none;
	background-color: transparent;
	border-radius: 50px;
	position: relative;
	z-index: 1;
	padding: 8px 30px;
	display: inline-block;
	border: 2px solid rgb(0, 0, 0);
	text-align: center;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.btn:hover,
.btn:focus,
.btn:active {
	transition: all 0.4s ease-out 0s;
	-webkit-font-smoothing: antialiased;
}

.btn-base {
	background-color: rgb(51, 122, 183);
	color: rgb(255, 255, 255);
	border-color: transparent;
}

.btn-base:hover {
	border-color: transparent;
	color: rgb(255, 255, 255);
	background-color: rgb(15, 80, 136);
}

.fa {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1;
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.fa-long-arrow-right::before {
	content: "";
}

.fadeIn {
	animation-name: fadeIn;
}

ol,
ul {
	margin-top: 0px;
	margin-bottom: 10px;
}

ul {
	margin: 0px;
	padding: 0px;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	float: left;
}

.col-xs-6 {
	width: 50%;
}

ul li {
	list-style-type: none;
}

.uv-feature .uv-featured-icon ul li {
	display: inline-block;
	margin: 0px auto;
	text-align: center;
	border-right: 1px solid rgb(226, 226, 226);
}

.flaticon-mortarboard-1::before {
	content: "";
}

.uv-feature .uv-featured-icon ul li .fa {
	font-size: 42px;
	margin-bottom: 10px;
}

.uv-feature .uv-featured-icon ul li span {
	font-size: 16px;
	line-height: 27px;
	font-family: "Varela Round", sans-serif;
	display: block;
	margin-top: 10px;
	font-weight: 600;
}

.flaticon-monitor::before {
	content: "";
}

.flaticon-light-bulb::before {
	content: "";
}

.uv-feature .uv-featured-icon ul li:last-child {
	border-right: 0px solid transparent;
}

.flaticon-open-book::before {
	content: "";
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.h5,
h5 {
	font-size: 14px;
}

h5 {
	font-family: "Varela Round", sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	text-transform: capitalize;
}

.uv-feature .uv-featured-icon h5 {
	font-size: 26px;
	line-height: 36px;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 20px;
}

p {
	margin: 0px 0px 10px;
}

p {
	font-family: "Varela Round", sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: normal;
	opacity: 0.9;
}

.fadeInLeft {
	animation-name: fadeInLeft;
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 1200px) {
	.section-separator {
		padding: 50px 0px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.section-separator {
		display: block;
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-4 {
		width: 33.3333%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	.uv-join-tagline {
		margin-bottom: 50px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 420px) {
	.uv-feature .uv-join-tagline h2 {
		font-size: 32px;
		line-height: 40px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}
}

@media print {
	h2,
	h3 {
		break-after: avoid;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 38px;
		line-height: 55px;
		font-weight: 300;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	a,
	a:visited {
		text-decoration: underline;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-8 {
		width: 66.6667%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media only screen and (max-width: 767px) {
	.uv-feature .uv-featured-icon ul li {
		margin-bottom: 30px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-3 {
		width: 25%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	.uv-feature .uv-featured-icon ul li {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.uv-feature .uv-featured-icon ul li:nth-child(2n) {
		border-right-color: transparent;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-3 {
		width: 25%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	.uv-feature .uv-featured-icon ul li {
		margin-bottom: 30px;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-3 {
		width: 25%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	.uv-feature .uv-featured-icon ul li {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.uv-feature .uv-featured-icon ul li:nth-child(2n) {
		border-right-color: transparent;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-3 {
		width: 25%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	ul,
	li {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
}

@media (max-width: 767px) {
	li {
		display: inline-block;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-6 {
		width: 50%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-6 {
		width: 50%;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}

@media print {
	*,
	 ::after,
	 ::before {
		color: rgb(0, 0, 0) !important;
		text-shadow: none !important;
		background: 0px 0px !important;
		box-shadow: none !important;
	}
}

@media print {
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}
}

@media (max-width: 767px) {
	html *,
	body,
	p {
		text-align: center;
	}
}