<section class="uv-subpage-heading image-bg" style="background-image: url(assets/images/header-bg-1.jpg);">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="uv-subhead-content center">
                    <h2>404</h2>
                    <span>Page Not Found</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="uv-pagination">
    <div class="container">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li class="active">404</li>
        </ul>
    </div>
</div>
<section class="uv-404">
    <div class="container">
        <div class="row">
            <div id="content" class="col-xs-12">
                <div class="shadow-border no-border">
                    <div class="blog-desc notfound-inner text-center">
                        <h3>404</h3>
                        <p class="lead col-md-8 col-sm-10">The page you are looking for no longer exists. Perhaps you
                            can return
                            back to the site's homepage and see if you can find what you are looking for. Or, you can
                            try finding
                            it with the information below.</p>
                        <a routerLink="/" class="btn btn-fill">Back to homepage</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>